html, body {
	margin: 0;
	padding: 0;
	font-size: 25px;
}

.primary-navigation {
	position: fixed;
	right: 0;
	top: 3em;
	border: 1px solid lightgray;
	z-index: 1;
	background: white;
	box-shadow: rgba(0,0,0,0.25) 5px 5px 20px;
}
	.primary-navigation > a {
		display: block;
		padding: .5em 1em;
	}

[contenteditable]:empty:before{
	content: attr(placeholder);
	pointer-events: none;
	display: block;
	color: lightgray;
}