body {
	margin-top: 4em;
}

.note {
	font-size: 0.5rem;
	max-width: 800px;
	margin: 4em auto;
}

button {
	cursor: pointer;
}

#text {
	max-width: 800px;
	margin: 2em auto;
	user-select: none;
}
	.word {
		display: inline-block;
		margin-right: .3em;
		border: 1px solid transparent;
		border-radius: .3em;
		cursor: pointer;
		transition: all ease-in-out .1s;
	}
		.word:hover {
			border-color: black;
		}
		.word.selected {
			background-color: lightgreen;
		}
		.word.translated {
			text-decoration: underline;
			text-decoration-style: dashed;
			text-decoration-color: lightgray;
		}
	.punctuation-mark {
		display: inline-block;
		margin-right: .3em;
		margin-left: -.4em;
	}

	.number {
		display: inline-block;
		margin-right: .3em;
	}
		.number:hover {
			text-decoration: underline;
		}

#info {
	position: fixed;
	background: white;
	box-shadow: rgba(0,0,0,0.25) 5px 5px 20px;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	padding: 0.5em;
}
	#info > * {
		display: inline-block;
		margin-right: 3em;
	}

	#info > .title {
		font-size: 0.5rem;
		color: lightgray;
	}

	#info #occurences {
		color: lightgray;
	}

	#info .translation {
		display: inline-block;
		min-width: 3em;
		border-bottom: 1px solid lightgray;
		white-space: nowrap;
	}
		#info > .translation > br {
			display: none;
		}

.remote-dict-info {
	position: fixed;
	left: -300px;
	top: 5em;
	bottom: 5em;
	width: 300px;
	background: white;
	font-size: 0.5em;
	box-shadow: rgba(0,0,0,0.25) 5px 5px 20px;
}
	.remote-dict-info.visible {
		left: 0;
	}
		.remote-dict-info.visible > .ear {
			right: 0;
		}

	.remote-dict-info > .ear {
		position: absolute;
		top: 50%;
		right: -25px;
		margin-top: -25px;
		height: 50px;
		width: 25px;
		cursor: pointer;
	}